# Local network dependent configuration (docker, etc) - likely to be edited
FRONTEND_URL=http://127.0.0.1:4000
SERVER_URL=http://127.0.0.1:3000
DATABASE_URL="postgresql://root:123@127.0.0.1:5432/didwebservice?schema=public"
JWT_SECRET="change-this-secretkey-for-auth-tokens" # Change this in prod. Dev env can keep this default value.
SMTP4DEV_HOST="127.0.0.1"
SMTP4DEV_PORT=925

# Customizable parameters
SMTP_SERVICE="smtp4dev" # "smtp4dev" for local dev tests - "postmark" for real emails

KEY_RING_PRIVATEKEY="THE-ED25591-PRIVATEKEY-OF-THE-SERVER-KEY-PAIR"

# microsoft login
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CALLBACK_URL="http://127.0.0.1:3000/microsoft/redirect"
MICROSOFT_CLIENT_REDIRECT="http://127.0.0.1:4000/oauth"