# Local network dependent configuration (docker, etc) - likely to be edited
FRONTEND_URL=http://127.0.0.1:4000
SERVER_URL=http://127.0.0.1:3000
DATABASE_URL="postgresql://root:123@127.0.0.1:5432/didwebservice?schema=public"
JWT_SECRET="change-this-secretkey-for-auth-tokens" # Change this in prod. Dev env can keep this default value.

# microsoft login
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CALLBACK_URL="http://localhost:3000/microsoft/redirect"
MICROSOFT_CLIENT_REDIRECT="http://127.0.0.1:4000/dashboard"
