@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.loading-circle {
  width: 100%;
  background: #fff;
  border-radius: 9999px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  .content {
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .animated {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
  }

  h2 {
    height: 30px;
    margin-top: 20px;
  }

  p {
    height: 70px;
    width: 80%;
  }
}
