.noise1-bg {
    background: url('../../../../public/Noise1.png') repeat center center
}
.noise2-bg {
    background: url('../../../../public/Noise2.png') repeat center center
}

.card-wrapper {
    display: inline-block;
    position: relative;
}
.card-wrapper:after {
    padding-top: 63.29%;
    display: block;
    content: '';
}
.card-wrapper>.body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.circle-bottom-box {
    left: 38%;
    top: 63%;
    transform: rotate(335deg);
}